#all-events-panel {
    margin-top: 20px;
}

.panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}

#all-events-panel .table {
    margin-bottom: 0;
}

.spinner-container {
    min-height: 1000px;
    padding-top: 450px;
}

.page-header {
    padding-top: 30px;
    margin: 42px 0 21px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.no-results {
    margin-top: 20px;
    text-align: center;
}

.req-label:after {
    content: " *";
    color: red
}

.nav {
    margin-top: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #2196F3;
    border-bottom-width: thick;
}

.nav-link {
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #495057;
}

.table .thead-light th {
    color: #495057;
    background-color: #eee9d6;
    border-color: #dee2e6;
}

/* Custom alternating row colors for event table */
.table tbody tr:nth-child(odd) td {
    background-color: #FFFFFF !important;
}

.table tbody tr:nth-child(even) td {
    background-color: #EAE5D0 !important;
}

/* Ensure hover effects work properly with custom colors */
.table-hover tbody tr:nth-child(odd):hover td {
    background-color: #f5f5f5 !important;
}

.table-hover tbody tr:nth-child(even):hover td {
    background-color: #ddd8c1 !important;
}

/* Additional specificity for the event table specifically */
table#eventTable tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) td {
    background-color: #FFFFFF !important;
}

table#eventTable tbody tr:nth-child(even) td,
table tbody tr:nth-child(even) td {
    background-color: #EAE5D0 !important;
}
