<div class="event-sponsors-container">
  <div class="page-header">
    <h3 >Brought to you by</h3>
  </div>

  @if (sponsorships && sponsorships.length == 0) {
    <p >No sponsorships are associated to this event.</p>
  }

  @if (sponsorships && sponsorships.length > 0) {
    <div class="container">
      <div class="row">
        @for (sponsor of sponsorships; track sponsor) {
          <div class="col-md-2 col-sm-2">
            <div class="sponsor-image-container">
              <div class="sponsor-image">
                <img src="{{ imageHelper.getImage(sponsor.image, defaultImageUrl) }}" />
              </div>
              @if (sponsor.sponsorName !== null) {
                <div class="sponsor-name">{{ sponsor.sponsorName }}</div>
              }
              @if (sponsor.sponsorName === null) {
                <div class="sponsor-name" >Sponsor Name</div>
              }
              <div class="sponsor-title">
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  }

</div>